<p-card header="{{question()}}" [style]="invalid ? { border: '1px solid red'} : {}">
  @if(risk() === getLowRisk()) {
      <p-tag severity="secondary">{{risk() | risk}}</p-tag>
    } @else if (risk() === getModerateRisk()) {
      <p-tag severity="warning">{{risk() | risk}}</p-tag>
    } @else if (risk() === getCriticalRisk()) {
      <p-tag severity="danger">{{risk() | risk}}</p-tag>
    } @else if (risk() === getBehavioralRisk()) {
      <p-tag severity="info">{{risk() | risk}}</p-tag>
    } @else if (risk() === getPhotographableRisk()) {
      <p-tag severity="success">{{risk() | risk}}</p-tag>
    }

  <div class="checkbox-container">
    <p-checkbox
    [(ngModel)]="compliant"
    label="Conforme"
    [binary]="true"
    [disabled]="notApplicable"
    (ngModelChange)="onComplianceChange(true)"
    />

  <p-checkbox
    [(ngModel)]="noCompliant"
    label="Não Conforme"
    [binary]="true"
    [disabled]="notApplicable"
    (ngModelChange)="onComplianceChange(false)" />

  <p-checkbox
    [(ngModel)]="notApplicable"
    label="Não se aplica"
    [binary]="true"
    (ngModelChange)="onNotApplicableChange()" />
  </div>

  @if (this.isMandatory()) {
    <div class="upload-container">
      <p-fileUpload
      mode="basic"
      chooseLabel="Tirar foto"
      chooseIcon="pi pi-camera"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      [auto]="true"
      accept="image/*"
      maxFileSize="1000000"
      (onUpload)="onUpload($event)"
      ></p-fileUpload>
    </div>
  }

</p-card>

